.p-30 {
  padding: 30px 0;
}

.p-15 {
  padding: 15px;
}

.px-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb {
  padding-bottom: 1.3em;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.mt-30 {
  margin-top: 30px;
}

.my-30 {
  margin: 30px auto;
}

.my-130 {
  margin: 130px auto;
}

.textWhite {
  color: white !important;
}

.textCenter {
  text-align: center;
}

.w-75 {
  width: 75% !important;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.textGrey {
  color: grey;
}

.textGrey-d {
  color: #000007;
}

.textOrange {
  color: #ff401a;
}

.bgOrange {
  background-color: #ff401a;
}

.bgOrange-l {
  background-color: #ff4f14;
}

.bgGrey {
  background-color: #1f2730;
}

.bgGrey-l {
  background-color: #474f59;
}

/* Slideshow container */
.slideshow-container {
  max-width: 80%;
  max-width: 500px;
  position: relative;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .slideshow-container {
    max-width: 120%;
  }
}

.cSlideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  display: block;
  height: 700px;
}

.feedbackS {
  display: none;
}

@media only screen and (max-width: 900px) {
  .feedbackS {
    display: block;
  }
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.myCSlides {
  display: none;
  height: 700px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myCSlides img {
  max-height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.fade2 {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Second one */
.slider-wrapper {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.slides-container {
  height: calc(100vh - 2rem);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  scroll-behavior: smooth;
}

.slide {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

@media only screen and (max-width: 900px) {
  .feedbackL {
    display: none;
  }
}

img {
  margin: 10px auto;
  height: auto;
  width: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  margin: 0 auto;
}

.spacer {
  max-width: 1200px;
  margin: auto;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.col {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#expertise {
  padding: 20px;
  margin: 0;
  text-align: center;
}

.title {
  font-family: Montserrat, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
}

.headerL {
  font-size: 40px;
  letter-spacing: 2.5px;
  line-height: 1;
}

.headerM {
  font-size: 36px;
}

.headerS {
  font-size: 24px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Open Sans", sand-serif;
  font-size: 16px;
  font-size: 100%;
}

a {
  text-decoration: none;
}

.redBg {
  background-color: #72112a;
}

.topDiv {
  height: 65px;
}

.cSection {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1120px;
}

.ctaDiv {
  min-height: 400px;
  position: relative;
  z-index: 0;
}

@media only screen and (max-width: 900px) {
  .ctaDiv {
    min-height: 600px;
  }
}

.flexHCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ctaContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.ctaImage {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ctaImage img {
  width: 25vh;
  height: 200px;
  min-height: 100px;
  background-color: aquamarine;
}

.ctaText {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 300px;
}

.textInner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ctaTape {
  min-height: 100px;
  width: 95%;
  position: absolute;
  bottom: 40px;
  left: 5vw;
  z-index: 1;
}

.ctaButton {
  position: absolute;
  top: 14px;
  right: 100px;
  border: 4px solid white;
  background-color: transparent;
  color: white;
  padding: 20px;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

@media only screen and (max-width: 900px) {
  .ctaContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ctaImage, .ctaText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .ctaButton {
    right: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .ctaTape {
    width: calc(100vw - 10px);
    left: 10px;
  }
}

@media only screen and (max-width: 450px) {
  .ctaButton {
    top: 17px;
    right: 20px;
    border: 3px solid white;
    padding: 20px 10px;
    font-size: 14px;
  }
}

.carousel {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 720px;
}

@media only screen and (max-width: 900px) {
  .carousel {
    width: 75%;
  }
}

.cHeading {
  padding-bottom: 10px;
  text-align: center;
}

.cHeadingS {
  color: #72112a;
  font-size: 1.7rem;
  padding-bottom: 45px;
  text-align: center;
  line-height: 1.8rem;
  font-weight: 500;
}

.cBody {
  padding-bottom: 1.3em;
  font-weight: 600;
  font-size: 20px;
  text-align: justify;
}

@media only screen and (max-width: 980px) {
  .cSection {
    width: 70%;
  }
  .cHeading {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 767px) {
  * {
    font-size: 12px;
  }
  .cSection {
    width: 80%;
  }
  .cHeading {
    font-size: 2rem;
  }
}

.strong {
  font-weight: 700;
}

.pBackground {
  background-color: rgba(114, 17, 42, 0.03);
}

.testimonials {
  background-color: aqua;
}

.tSlide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: red;
}

.tLeft {
  width: 48%;
  min-width: 350px;
  height: 200px;
  background-color: bisque;
}

.tRight {
  width: 48%;
  min-width: 350px;
  height: 200px;
  background-color: #df8415;
}

.tImg {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tImg img {
  width: 100%;
  height: 100px;
}

@media only screen and (max-width: 980px) {
  .tSlide {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: red;
  }
  .tLeft {
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
  }
  .tRight {
    width: 100%;
    height: 200px;
  }
}

.pRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pRowR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.pText {
  width: 50%;
  min-width: 320px;
}

.pImage {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pImage img {
  width: 100%;
  margin: auto;
}

.reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.pCard {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pCard-p {
  text-align: justify;
  font-size: 1rem;
}

.pHeading {
  font-size: 1.8rem;
}

@media only screen and (max-width: 900px) {
  .pText {
    width: 100%;
    min-width: 320px;
  }
  .pImage {
    width: 100%;
  }
}

.aboutMeTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.aboutMeImg {
  width: auto;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
}

.aboutMeImg img {
  height: 100%;
}

.aboutMeText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.aboutMeText {
  width: 100%;
}

@media only screen and (max-width: 980px) {
  .aboutMeTop {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .aboutMeImg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: auto;
    height: auto;
  }
  .aboutMeImg img {
    height: 60vh;
    width: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media only screen and (max-width: 600px) {
  .aboutMeImg {
    width: 100%;
  }
  .aboutMeImg img {
    height: auto;
    width: 100%;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 10rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222222;
}

.footerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fNavItem {
  margin: 20px 20px;
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.footerQ {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  padding: 0 20px;
}

.footerQ h5 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footerQ p {
  font-size: 1.1rem;
}

@media only screen and (min-width: 1000px) {
  .footer {
    min-height: 18rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footerNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .fNavItem {
    margin: 20px 20px;
  }
  .footerQ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
    padding: 0 30px;
    margin-top: 0;
  }
  .footerQ h5 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .footerQ p {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    font-size: 1.5rem;
  }
  .footerNav {
    width: 100%;
  }
  .fNavItem {
    margin: 20px 10px;
    font-size: 16px;
  }
  .footerQ {
    width: 90%;
    font-size: 1.5rem;
  }
  .footerQ h5 {
    font-size: 16px;
  }
  .footerQ p {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */