 $main: #72112a;

 $pale-main: #72112a;

 $bg-black: #222222;

 $orange: #ff5534;
 $orange-l: #ff8960;
 $orange-d: #c41806;

 $grey: #1f2730;
 $grey-l: #474f59;
 $grey-d: #000007;

 .textOrange {
  color: $orange;
 }

 .bgOrange {
  background-color: $orange;
}

.bgOrange-l {
  background-color: $orange-l;
}

 .bgGrey {
  background-color: $grey;
 }